.password-list-card {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #7683cb;
  border-radius: 8px;
  width: 25%;
}

.password-list-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.initial {
  font-family: 'Roboto';
  font-size: 28px;
  color: #ffffff;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.violet {
  background-color: #7683cb;
}

.orange {
  background-color: #f59e0b;
}

.light-green {
  background-color: #10b981;
}

.golden-yellow {
  background-color: #f97316;
}

.blue {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.dark-blue {
  background-color: #0ea5e9;
}

.password-list {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  margin: 10px;
}

.delete-btn {
  background: transparent;
  outline: none;
  border: 0px none;
  margin-right: 10px;
}

.delete-img {
  height: 25px;
  width: 25px;
}

.heading-and-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.star-img {
  height: 25px;
  width: 100px;
}
